.b {
    /* background-color: #e7b8b0a9; */
    background-color: white;
    opacity: 0.5;
    color: black;
    font-size: 2em;
    /* padding: 50px; */
    margin: 10px 20px 10px 20px;
    flex: 1 400px;
    height: 3em;
    /* width: 150px; */
    border-radius: 0.1em;
    border: none;
    border-bottom: 1px solid lightgrey;
    /* justify-content: space-between; */
}

.b:hover {
    color: white;
    background-color: #DDC59D;
    opacity: 1;
    /* border-bottom:1px solid lightgrey; */
}

.buttons:focus {
    /* outline-color: grey; */
    /* outline-style: ; */
 outline: none;
}